/*
 * Colours
 * ======================================================================== */
 $col-white: #ffffff;
 $col-pink: #f73a6f;
 $col-blue: #00b4f6;
 $col-light-grey: #e8e8e8;
 $col-dark-grey: #4e4e4e;

/*
 * Typography
 * ======================================================================== */

$font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

/*
 * Page Layout
 * ======================================================================== */

$page-margin: 1.875rem;
$page-max-width: 960px;
